body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #080808;
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #f0f0f0;
}

body.dark-theme header {
    background-color: #1f1f1f;
}

#themeToggle {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#themeToggle:hover {
    background-color: darkblue;
}

body.dark-theme #themeToggle {
    background-color: #6c757d;
}
